<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <remoteWebDriverUri>http://localhost:5555/wd/hub</remoteWebDriverUri>
  <appBaseUri>http://localhost:8080/</appBaseUri>
  <!--timeout in seconds-->
  <pageLoadTimeout>30</pageLoadTimeout>
  <implicitWaitTimeout>10</implicitWaitTimeout>
  <asynchronousJavaScriptTimeout>30</asynchronousJavaScriptTimeout>
  <!--logging-->
  <logType>error</logType>
  <screenshotsPath>/Screenshots</screenshotsPath>
  <!--browser settings-->
  <defaultBrowser>Chrome</defaultBrowser>
  <headlessMode>false</headlessMode>
  <browsers>
    <browser>
      <name>chrome</name>
      <arguments>
        <value>--disable-extensions</value>
        <value>--start-maximized</value>
      </arguments>
      <headless>--headless</headless>
    </browser>
    <browser>
      <name>firefox</name>
    </browser>
    <browser>
      <name>edge</name>
    </browser>
  </browsers>
</configuration>